
#main{
	background: linear-gradient(#F2F2F2);
	width:100%;
  	float:left;
}
	.success {
	margin-left: 40%;
	margin-bottom: 2%;
	width: 20%;
    background-color: #ddffdd;
    border-left: 10px solid #4CAF50;
    font-family: calibri, bold;
    font-size: 20px;
    padding-left: 10px;
    color: darkgreen;
    -webkit-box-shadow:  0px 0px 30px rgba(50, 50, 50, 50.50);
    -moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 50.50);
    box-shadow: 0px 0px 30px rgba(50, 50, 50, 50.50);
	}
	.mainlogo{
		text-align: center;
		margin-top: 2%;
	}
#footer{
	clear:both;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: darkgray;
}
#sidebar-left, #main{
	min-height: 700px;		
}
