
#main{
    float:left;
    width:100%;
    background: linear-gradient(#F2F2F2);
}
    .message{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
    }
#footer{
    clear:both;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: darkgray;
}
#sidebar-left, #main{
    min-height: 700px;      
}
